/* XL (laptop) Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    
}
@media (min-width: 1200px) and (max-width: 1300px) {
   
}
/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    
}


/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    #servicesArea .servicesAreaContainer .servicesAreaMain .serviceBoxItem {
        padding: 20px 20px;
        width: 100%;
        min-height: 180px;
        text-align: center;
    }
    #servicesArea .servicesAreaContainer .servicesAreaMain .serviceBoxItem .icon {
        min-height: auto !important;
        line-height: inherit !important;
    }
    #servicesArea .servicesAreaContainer .servicesAreaMain .serviceBoxItem .content h3 {
        font-size: 21px;
        line-height: 26px;
        margin-top: 19px;
    }

}


@media (max-width: 767px) {
}

/*-- Phone Landscape --*/
@media only screen and (min-width: 576px) and (max-width: 767px) {
    #servicesArea .servicesAreaContainer .servicesAreaMain .serviceBoxItem {
        width: 100%;
    }
    #banarArea .banarAreaContent p {
        font-size: 16px;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 20px;
    }





}



/* Extra small Device. */
@media (max-width: 575px) {
    #headerTop {
        padding: 20px 0px;
    }
    #headerTop .headerTopContent .info p {
        font-size: 21px;
    }
    #headerTop .headerTopContent .info {
        margin-top: 2px;
    }
    #banarArea .banarAreaContent p {
        font-size: 14px;
        margin: 0 auto;
        margin-bottom: 25px;
        width: 100%;
    }
    #banarArea{
        padding: 30px 0px;
    }
    #headerTop .headerTopContent .logo a img {
        height: 40px;
    }
    #banarArea .banarAreaContent a {
        display: block;
        padding: 16px 0px;
        font-size: 15px;
        border-radius: 5px;
    }
    #servicesArea .servicesAreaContainer .servicesAreaMain .serviceBoxItem .content h3 {
        font-size: 20px;
        line-height: 28px;
    }
    #servicesArea .servicesAreaContainer .servicesAreaMain .serviceBoxItem {
        width: 100%;
        box-shadow: 5px 5px 0px #00B681;
    }
}


























